</br>
<!-- <div id="loading-bar-container"></div> -->
<!-- <div class="spinner" ng-if="loading=true"></div> -->
<div class="container container-fluid" ng-init="getUsers()">
	<div class="row">
		<div class="col-sm-7">
			<span class="badge badge-pill badge-primary float-left">Search:</span>
			<!-- <span class="badge badge-pill badge-primary float-right">Longeur:{{users.length}}</span> -->
			<br>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing-default">
						<i class="fas fa-search"></i>
					</span>
				</div>
				<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Rechercher..."
				 ng-model="search">
			</div>

		</div>
		<div class="col-sm">
			<span class="badge badge-pill badge-primary float-left">Order By :</span>
			<br>

			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					<i class="fas fa-filter"></i> Filter By:
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" ng-click="sortBy('name')">Name</a>
					<a class="dropdown-item" ng-click="sortBy('phone')">Phone</a>
					<a class="dropdown-item" ng-click="sortBy('email')">Email</a>
				</div>
			</div>
			<br>
		</div>
		<div class="col-sm">
			<span class="badge badge-pill badge-primary float-left">Group By :</span>
			<br>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" ng-click="sortByAsc()">
				<label class="form-check-label" for="inlineRadio1">Order Asc:</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" ng-click="sortByDesc()">
				<label class="form-check-label" for="inlineRadio2">Order Desc:</label>
			</div>
		</div>
		<div class="col-sm">
			<span class="badge badge-pill badge-primary float-left">Limit :</span>
			<br>
			<input type="number" class="form-control" placeholder="Limit To..." ng-model="limit" min="1" max="6">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					Dropdown button
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ng-model="limit">
					<a class="dropdown-item" value=5>Show 5 per page</a>
					<a class="dropdown-item" value=10>Show 10 per page</a>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<span class="badge badge-pill badge-primary float-left">Group By :</span>
			<br>
			<select ng-model="limit">
				<option value=5>Show 5 per page</option>
				<option value=10>Show 10 per page</option>
			</select>
		</div>
	</div>
</div>
</br>
<h3 class="font-weight-light text-center">A list of Users</h3>
<div class="card-columns">
	<div class="card" ng-repeat="user in users | filter:search | orderBy:propertyName | orderBy:propertyUserName | limitTo:limit">
		<div class="card-img-wrap">
			<img class="card-img-top" src="/assets/ios.jpg" alt="Card image cap">
		</div>
		<div class="card-body">
			<h5 class="card-title">{{user.name | uppercase}}</h5>
			<p class="card-text">
				<i class="fas fa-envelope"></i>
				<strong>Email :</strong>{{user.email}}</p>
			<p class="card-text">
				<i class="fas fa-phone"></i>
				<strong>Phone :</strong>{{user.phone}}</p>
			<p class="card-text">
				<i class="fas fa-building"></i>
				<small class="text-muted">{{user.company.name}}</small>
			</p>
			<a href="#/users/details/{{user.id}}" class="btn btn-primary" role="button">
				View Details
				<i class="fas fa-eye"></i>
			</a>
		</div>
	</div>
</div>