<br>
<a href="#/users" class="btn btn-primary btn-block" role="button">Go Back</a>
<br>
<div class="card text-center" ng-init="getOneUser()">
  <div class="card-header">
    User Information
  </div>
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">Email: {{user.email}}</p>
    <p class="card-text">
      <strong>Company Name:</strong>{{user.company.name}}</p>
    <p class="card-text">
      <strong>Company Brand:</strong>{{user.company.catchPhrase}}</p>
    <p class="card-text">
      <strong>Zip code:</strong>{{user.address.zipcode}}</p>
    <a class="card-link"><strong>Street:</strong>{{user.address.street}}</a>
    <a class="card-link text-right"><strong>City:</strong>{{user.address.city}}</a>
    <br><br>
      
    <a class="btn btn-warning" href="#/users/edit/{{user.id}}"><i class="fas fa-eraser"></i>Edit User</a>
    <button type="submit" class="btn btn-danger" ng-click="removeUser(user.id)">
      <i class="fas fa-trash"></i>Delete User</button>
  </div>
  <div class="card-footer text-muted">
    {{user.website}}
  </div>
</div>